html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  background-color: aqua;
}
.background {
  text-align: center;
  margin-top: 3rem;
}
button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #fda600;
  color: white;
  border: 0;
  /* outline: none; */
}
button:active {
  color: #fda600;
  background-color: white;
  transition: 0.25s linear;
}
